.flex-gallery {
    --space: 10px;
    --min-height: 450px;
    --last-row-background: rgb(255, 255, 255);
}

.flex-gallery {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

.flex-gallery > .gallery-item {
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    aspect-ratio: var(--width) / var(--height);
    position: relative;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.flex-gallery > .gallery-item > .gallery-image-link > img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.post-image-link,
.post-image-link > img {
    display: block;
}

.error-page-bg {
    background: url("/img/error_bg.jpg") no-repeat scroll center center / cover;
}

.error-page-bg .uk-overlay-primary {
    background: rgba(34, 34, 34, 0.5);
    color: #fff;
}

.error-page-bg .uk-overlay-primary h1 {
    font-size: 56px;
}

.error-page-bg .uk-overlay-primary .uk-text-large {
    font-size: 5.5rem;
}